
.timer{
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  background-color: #3b4b5c;
  color: var(--new-faded-white);
  border-radius: 3px;
  margin-top: 10px;
}
.timer-success{
  background-color: var(--pre-green) !important;
}

.timer-warning{
  background-color: var(--warning) !important;
}
.timer-danger{
  background-color: var(--danger) !important;
}

.time-left{
  text-align: center;
  color: var(--helper-text-color);
  font-size: 13px;
}